:root {
  background-color: #F6F6F6;
}

img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.wrapper {
  padding: 0;
  margin: 0 auto;
  max-width: 1440px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/**header**/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
header .__logo {
  height: 3.9375rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "shrikhand", cursive;
  font-weight: 700;
  font-size: 32px;
  box-shadow: 0px 2px 4px 0px #353535;
}
header .header__location {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans serif;
  font-weight: 500;
  gap: 0.9375rem;
  background-color: #EAEAEA;
  opacity: 85%;
  height: 3.125rem;
  width: 100%;
}

.arrow {
  position: absolute;
  top: 0.88rem;
  left: 0.88rem;
  cursor: pointer;
  color: #353535;
}

.btn {
  border-radius: 3.125rem;
  border: none;
  height: min-content;
  width: fit-content;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  color: #fff;
  cursor: pointer;
}
.btn .btn-txt {
  font-family: "Roboto", sans serif;
  font-weight: 500;
  margin: 0.625rem;
}

.arrow::before {
  font: var(--fa-font-solid);
  content: "\f060";
  font-weight: 900;
  font-size: 30px;
}

.location-dot::before {
  font: var(--fa-font-solid);
  content: "\f3c5";
  font-weight: 900;
  font-size: 20px;
}

.mobile-screen::before {
  font: var(--fa-font-solid);
  content: "\f3cd";
  font-weight: 900;
  font-size: 16px;
}

.list--ul::before {
  font: var(--fa-font-solid);
  content: "\f0ca";
  font-weight: 900;
  font-size: 16px;
}

.store::before {
  font: var(--fa-font-solid);
  content: "\f54e";
  font-weight: 900;
  font-size: 16px;
}

.handshake::before {
  font: var(--fa-font-solid);
  content: "\f4c4";
  font-weight: 900;
  font-size: 13px;
}

.__new {
  position: absolute;
  color: green;
  border: 2px solid green;
  top: 0.8rem;
  right: 0.8rem;
  display: none;
}

.banner {
  object-position: center;
  object-fit: cover;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
}
.banner img {
  height: 373px;
}

.menu__main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #F6F6F6;
  border-radius: 15px;
  background: #d6d6d4;
  border-radius: 25px;
  top: -5em;
  gap: 40px;
  width: min(100%, 75rem);
  border: none;
  margin-inline: auto;
  position: relative;
}
.menu__main .title-main {
  font-family: "Roboto", sans serif;
  font-weight: 700;
  font-family: "shrikhand", cursive;
  font-size: clamp(1rem, 3vw, 3rem);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 50px;
}

.menu-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #d6d6d4;
  width: 100%;
  gap: 12px;
}
.menu-box .menu-box__item {
  border: 2px solid #F6F6F6;
  border-radius: 15px;
  background: #F6F6F6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 69px;
}
.menu-box .menu-box__item-description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-inline: 15px;
}

/*hero*/
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding-bottom: 1.875rem;
  width: 100%;
}
.hero .hero__title {
  font-family: "Roboto", sans serif;
  font-weight: 500;
  font-size: 24px;
  min-width: 17.1875rem;
  padding: 30px 20px 15px 20px;
  text-align: center;
}
.hero .hero__subtitle {
  min-width: 17.1875rem;
  text-align: center;
  padding-bottom: 1.6875rem;
}

/*fonctionnement*/
.notice {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 1.875rem;
  margin-inline: 1.5625rem;
}
.notice .notice__title {
  font-family: "Roboto", sans serif;
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 1.625rem;
}
.notice .notice-step {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.9375rem;
  width: 100%;
}
.notice .notice-step .notice-step__process {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 0.9375rem;
  border-radius: 1.25rem;
  height: 4.375rem;
  min-width: 100%;
  box-shadow: 0px 4px 15px 0px #AEAEAE;
  background-color: #F6F6F6;
  cursor: pointer;
}

.notice-step__process:hover {
  color: #9356DC;
}
.notice-step__process:hover .mobile-screen .list--ul .store:hover {
  color: #9356DC;
}

.notice-step__text {
  font-family: "Roboto", sans serif;
  font-weight: 500;
  font-size: 0.875rem;
}

.notice-step__nbr {
  border-radius: 1.5625rem;
  background-color: #9356DC;
  color: #fff;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  font-size: 0.875rem;
  position: relative;
  right: 0.6875rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*restaurant*/
.restaurant__main-content {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
  margin-inline: 1.125rem;
  padding: 60px 0px;
  height: auto;
}
.restaurant__main-content .card-restaurant__main-title {
  font-family: "Roboto", sans serif;
  font-weight: 700;
}

.card-restaurant {
  border: 2px solid #F6F6F6;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px #AEAEAE;
  background-color: #F6F6F6;
  width: auto;
  border: none;
  cursor: pointer;
}
.card-restaurant .img {
  border: none;
  height: 124px;
  border-top-left-radius: 0.9375rem;
  border-top-right-radius: 0.9375rem;
  width: 100%;
}

.card-restaurant__content {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 0.3125rem;
  padding-inline: 0.75rem;
  margin-bottom: 0.75rem;
}
.card-restaurant__content .card-restaurant__title {
  font-family: "Roboto", sans serif;
  font-weight: 700;
}
.card-restaurant__content .card-restaurant__subtitle {
  font-family: "Roboto", sans serif;
  font-weight: 500;
  font-weight: 300;
}
.card-restaurant__content .card-restaurant__icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-restaurant__content .card-restaurant__icon :hover::before {
  color: transparent;
}
.card-restaurant__content .card-restaurant__icon :hover::after {
  content: "\f004";
  color: #9356DC;
  font-weight: 900;
  opacity: 1;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 22px 25px;
  background-color: #353535;
  color: white;
  width: 100%;
  box-sizing: border-box;
  gap: 0.3125rem;
}
.footer .logo-text {
  font-family: "shrikhand", cursive;
  font-weight: 400;
  font-size: 16px;
}
.footer .footer__list {
  padding: 0.3125rem;
  gap: 0.3125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  flex-direction: column;
}
.footer .footer__list .footer__list--item {
  gap: 0.4375rem;
}/*# sourceMappingURL=style.css.map */