@import './base/base';
@import './utils/variables';
@import './utils/mixins';
@import './utils/functions';
@import './base/reset';

@import './layout/header';
@import './components/btn.scss';
@import './components/icon.scss';
@import './components/new.scss';
@import '../SASS/page/restaurants';


//hero//
/*hero*/
.hero{
    @include flex-center;
    flex-direction: column;
    box-sizing: border-box;
    padding-bottom: toRem(30);
    width: 100%;

        .hero__title{
            @include main-font;
            font-size: $size*1.5;
            min-width: toRem(275);
            padding: 30px 20px 15px 20px;
            text-align: center;                
        }
        .hero__subtitle{
            min-width:toRem(275);
            text-align: center;
            padding-bottom: toRem(27);
        }

        
}



//fonctionnement//
/*fonctionnement*/
.notice{
    @include flex-center;
    flex-direction: column;
    align-items: flex-start;
    padding-top: toRem(30);
    margin-inline: toRem(25); 
        .notice__title{
            @include title-font;
            font-size: $size*1.5;
            padding-bottom: toRem(26);
            
        }

        .notice-step{
            @include flex-center;
            flex-direction: column;
            gap: toRem(15);
            width: 100%;

            .notice-step__process{
                @include flex-center;
                justify-content: flex-start;
                gap: toRem(15);
                border-radius: toRem(20);
                height: toRem(70);
                min-width:100%;
                @include shadow-bx;
                cursor: pointer

            }

        }
}

.notice-step__process:hover{
       color: $primary-color;

    & .mobile-screen .list--ul .store:hover{
        color: $primary-color;
    }


       

}

.notice-step__text{
    @include main-font;
    font-size:toRem(14);
}

.notice-step__nbr{
    border-radius: toRem(25);
    background-color: $primary-color;
    color: #fff;
    width: toRem(24);
    height: toRem(24);
    text-align: center;
    font-size: toRem(14);
    position: relative;
    right: toRem(11);
    @include flex-center;
}


//restaurant//
/*restaurant*/
.restaurant__main-content{
    display: flex;
    flex-direction: column;
    gap: toRem(18);
    margin-inline: toRem(18);
    padding: 60px 0px;
    height: auto;

    .card-restaurant__main-title{
        @include title-font;
    }
}

.card-restaurant{
    @include box-style;
    @include shadow-bx;
    width: auto;
    border: none;
    cursor: pointer;

    .img{
        border: none;
        height: 124px;
        border-top-left-radius: toRem(15);
        border-top-right-radius: toRem(15);
        width: 100%;
    }

    
}

.card-restaurant__content{
    @include flex-center;
    justify-content: space-between;
    gap:toRem(5);
    padding-inline: toRem(12);
    margin-bottom: toRem(12);
    
    .card-restaurant__title{
        @include title-font;
    }

    .card-restaurant__subtitle{
        @include main-font;
        font-weight: 300;
    }
    .card-restaurant__icon{

        @include flex-center;


    }
}
 

.footer{
    @include flex-center;
    flex-direction: column;
    align-items: flex-start;
    padding: 22px 25px;
    background-color: #353535;
    color: white;
    width: 100%;
    box-sizing: border-box;
    gap: toRem(5);

    .logo-text{
        font-family: $font-title;
        font-weight: 400;
        font-size: $size;
    }

    .footer__list{
        padding:toRem(5);
        gap: toRem(5);
        @include flex-center;
        align-items: flex-start;
        flex-direction: column;
        .footer__list--item{
            gap: toRem(7);
        }
        


 .footer__list--item{
    @include flex-center;
 }   }
}

