@import './base/base';
@import './utils/variables';
@import './utils/mixins';


.card-restaurant{
    @include border-style;
}

h1{
    font-family: $font-title;
}

.location{
    @include border-style;
    width: 100%;
    display: flex;
    gap: 15px ;
    justify-content: center;
    align-items: center;        
}