//header//
/**header**/
header{
    @include flex-center;
    flex-direction: column;
    height: toRem(113);


        .__logo{
            height: 55%;
            width: 100%;
            @include flex-center;
            flex-direction: column;
            font-family: $font-title;
            font-weight: 700;
            font-size: $size*2;
            box-shadow: 2px 7px 10px 4px #353535;
        }
      
        .header__location{
            @include flex-center;
            @include main-font;
            gap: toRem(15);
            background-color: $background;
            opacity: 95%;
            height: 44%;
            width: 100%;
            

        }
}


  .arrow{

            position: absolute;
            top: 0.88rem;
            left: 0.88rem;
            cursor: pointer;
            color: #353535;



        }

.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }

  .arrow::before {
    font: var(--fa-font-solid);
    content: "\f060";
    font-weight: 900;
    font-size: 30px;
  }

  .location-dot::before{
    font: var(--fa-font-solid);
    content: "\f3c5";
    font-weight: 900;
    font-size: 20px;

  }
