


.img_container{
    height: clamp(275px, 15vw, 1200px);
    overflow: hidden;

    .img-restaurant{

    object-position: 55% 61%;    
    }

}


.main-content {
   // @include flex-center;
    flex-direction: column;
    gap: 40px;
    @include box-style;
    border: none;
    background-color: #e6e3e3;
    width:min(100% , 1066px);
    transform: translateY(-3rem);
    border-radius:3rem;
    margin: 0 auto;

    padding: 1rem;
    display: grid;


    .main_title{
        @include flex-center;
        gap: 2rem;

    


    }


}





.dish-container {
   // @include flex-center; 
    align-items: flex-start;
    flex-direction: column;
    gap: 12px;


    display: grid;

    .green-bar{
        height: 5px;
        width: clamp(4rem, 3vw, 5rem);
        background-color:$tertiary-color;
        display: block;
    }


}


.dish-card {
    @include box-style;
    @include shadow-bx;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    overflow: hidden;


}


    .checkbox{
        background-color: green;
        width: 49px;

        
    }


.dish__content {
    @include flex-center;
    justify-content: space-between;
    gap: toRem(5);
    padding-inline: toRem(12);
    margin-bottom: toRem(12);
    position: relative;
    margin-inline: 0.2rem;
    margin-block: 0.8rem;
    width: 100%;

    .card-restaurant__icon {
        @include flex-center;

    }

.dish__text{
    width: 100%;
}

}
.dish__subtitle{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.check{
    display: flex;
    margin-inline-end: -3rem;
    gap: 1rem;
}
