.btn{

    border-radius: toRem(50);
    border:none;
    height: 49px;
    background: $gradient-color;
    color: #fff;
    cursor: pointer;


    .btn-txt{
        margin-inline: toRem(12);

    }
} 
 