.btn{

    border-radius: toRem(50);
    border:none;
    height: min-content;
    width: fit-content;
    background: $gradient-color;
    color: #fff;
    cursor: pointer;


    .btn-txt{
        margin: toRem(10);

    }
} 
 