/**color**/
$primary-color:#9356DC;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;

/**font family**/

$font-title:'shrikland', cursive;
$font-txt:'roboto',sans serif;

/**font size**/

$font-size: 16px