.slide-down {

    -webkit-animation: scale-down 2s ease-in-out;
    animation: scale-down 2s ease-in-out;

    .slide-down1 {
        animation-delay: 500ms;
        height: 0px;

    }

    .slide-down2 {
        animation-delay: 2000ms;
        height: 0px;

    }

    .slide-down3 {
        animation-delay: 3000ms;
        height: 0px;

    }
}


@-webkit-keyframes scale-down {
    0% {
        opacity: 0;
        margin-block-end: -5rem;
        height: 0px;

    }



    100% {
        opacity: 1;
        margin-block-end: 0rem;
    }
}

@keyframes scale-down {
    0% {
        opacity: 0;
        margin-block-end: -5rem;
        height: 0px;
    }




    100% {
        opacity: 1;
        margin-block-end: 0rem;
    }
}



/*check*/
.check:hover {
    -webkit-animation: slide-rtl 0.4s ease-in-out;
    animation: slide-rtl 0.4s ease-in-out;


@keyframes slide-rtl {
    0% {
        margin-inline-end: -4rem;

    }

    100% {
        margin-inline-end: 0rem;

    }




    }
}

@-webkit-keyframes slide-rtl {
    0% {
        margin-inline-end: -4rem;

    }

    100% {
        margin-inline-end: 0rem;

    }


}




.checkbox:hover::after{
    -webkit-animation: rotate 0.4s linear;
    animation: rotate 0.4s linear;
}
@-webkit-keyframes rotate {
    0% {

        transform: rotate(0deg);
    }

    100% {

        transform: rotate(360deg);
    }
}


@keyframes rotate {
    0% {

        transform: rotate(0deg);
    }

    100% {

        transform: rotate(360deg);
    }
}
