@mixin border{
    border-radius: 15px;
    border: 2px solid $background;
    background-color:$background;
}

@mixin wrapper {
    max-width: 1440px;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

@mixin card-style{
    border-radius: 25px;

}

@mixin shadow{
    box-shadow: 0px 4px 15px 0px ;
}