@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}







@mixin shadow{
    box-shadow: inset 2px 5px 5px 0px #353535 ;
    background-color: #EAEAEA;
}

@mixin box-style{
    border: 2px solid #F6F6F6;
    border-radius: 15px;
}

