@mixin border-style{
    border-radius: 0.5em;
    border: 2px solid gray;
    background-color:gray;
}

.wrapper{
    max-width: 1440px;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}