
$font-size-base:16px;


$background:#EAEAEA;



$primary-color:#9356DC;
$primary-color-light:lighten($primary-color, 5%);
$secondary-color:#FF79DA;
$secondary-color-light:lighten($secondary-color, 5%);

$tertiary-color:#99E2D0;

$gradient-color: linear-gradient(to bottom, $secondary-color, $primary-color 80%);
$gradient-color-light: linear-gradient(to bottom, $secondary-color-light, $primary-color-light 80%);


$font-title: 'shrikhand',cursive;
$font-txt:'Roboto',sans serif;


